<div class="footer ">
    <div class="footer-desktop container">
        <div class="footer-advertisement">
            <img src="../images/footer/image%205.png" >
        </div>
        <div class="contact">
            <div class="contact-logo">
                <img src="../images/logo.png" alt="">
            </div>
            <div class="contact-link">
                <a href="" class="network"><i class="fa-brands fa-youtube"></i></a>
                <a href="" class="network"><i class="fa-brands fa-twitter"></i></a>
                <a href="" class="network"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="" class="phone"><i class="fa-solid fa-phone"></i> 03522221</a>
            </div>
        </div>
        <hr>
        <div class="footer-menu row">
            <div class="list col-md-2">
                <div class="name">
                    Game Types
                </div>
                <div class="item">
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                </div>
            </div>
            <div class="list col-md-2">
                <div class="name">
                    Game Types
                </div>
                <div class="item">
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                </div>
            </div>
            <div class="list col-md-2">
                <div class="name">
                    Game Types
                </div>
                <div class="item">
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                </div>
            </div>
            <div class="list col-md-2">
                <div class="name">
                    Game Types
                </div>
                <div class="item">
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                </div>
            </div>
            <div class="list col-md-2">
                <div class="name">
                    Game Types
                </div>
                <div class="item">
                    <a href="">Baccarat</a>
                    <a href="">Slot</a>
                    <a href="">Fish Shooting</a>
                    <a href="">Roulette</a>
                    <a href="">Hi-Lo/SicBo</a>
                    <a href="">Baccarat</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-pay">
            <div class="footer-pay-left">
                <a href="#">All Rights Reserved</a> © Estar. Top Online Casino Games
            </div>
            <div class="footer-pay-right">
                <img src="../images/footer/payment-icon.png">
            </div>
        </div>
    </div>
    <div class="footer-mobile">
        <div class="style">
            <a href="#" class="active">
                <img src="images/top/sports.png">
                <p>sports</p>
            </a>
            <a href="#" class="">
                <img src="images/top/live.png">
                <p>live</p>
            </a>
            <a href="#" class="">
                <img src="images/top/casino.png">
                <p>casino</p>
            </a>
            <a href="#" class="">
                <img src="images/top/virtuel.png">
                <p>virtuel</p>
            </a>
        </div>
    </div>
</div>