<div class="header fixed-top">
    <div class="header-desktop container">
        <div class="row d-flex align-items-center">
            <div class="header-desktop--left col-2">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
            </div>
            <div class="header-desktop--center d-flex col-6">
                <a class="active" href="">Sports</a>
                <a class="" href="">Live</a>
                <a href="">Casino</a>
                <a href="">Virtuel</a>
                <a href="">Borlette</a>
            </div>
            <div class="header-desktop--right d-flex col-4">
                <div class="language">
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <i class="flag-united-kingdom flag m-0"></i> Eng
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Dropdown">
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English</a>
                            </li>
                            <li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag flag-vietnam"></i>Vietnamese</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="notification">
                    <i class="fa-regular fa-bell"></i>
                </div>
                <div class="join">
                    <a href="">join</a>
                </div>
                <div class="login">
                    <a href="login.html">login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="d-flex justify-content-between">
            <div class="header-mobile-left d-flex">
                <button onclick="menuMobile()"><i class="fa-solid fa-bars"></i></button>
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <ul id="mobileMenu" class="mobile-menu">
                    <li><a href="#">Menu item 1</a></li>
                    <li><a href="#">Menu item 2</a></li>
                    <li><a href="#">Menu item 3</a></li>
                </ul>
                <div onclick="closeMobile()" class="opacity_menu"></div>
            </div>
            <div class="header-mobile-right d-flex">
                <div class="notification">
                    <i class="fa-regular fa-bell"></i>
                </div>
                <div class="join">
                    <a href="">join</a>
                </div>
                <div class="login">
                    <a href="login.html">login</a>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="style.js"></script>
